mixin tableRow({ symbol, msg, chart, currentPrice, quoteVolume, diviation, messageCode })
    - let rowClasses = { '1': 'buy', '2': 'sell' }
    tr(class= rowClasses[messageCode])
        td(data-col-name="symbol")
            a(href=chart target="_blank" title="посмотреть график цены")= symbol
        td(data-col-name="msg")=msg
        td(data-col-name="currentPrice")=currentPrice
        td(data-col-name="quoteVolume")=quoteVolume
        td(class= diviation > 0 ? "rise" : "fall" data-col-name="diviation")=diviation